/* Website */
body {
  font-family: 'Avenir', sans-serif;
}

#main {
  margin: 5%;
}

/* Title */
#title {
  background: linear-gradient(to right, #4a90ed, #47c969);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Questions */
input {
  border: none;
  border-radius: 5px;
  padding: 1%;
  box-shadow: 0 0 5px gray;
  font-size: 0.8em;
  -webkit-appearance: none;
}

input[type=checkbox] {
  border: solid;
  margin: 0.5%;
  appearance: auto;
}

button {
  padding: 1%;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  background: #4db6e3;
  margin-top: 2%;
  box-shadow: 0 0 2px gray;
}

button:hover {
  color: #5A5A5A;
}

button:active {
  background: #44a0c7;
}

/* Recommendations */
#recommendations {
  margin-top: 3%;
}

@media (min-width: 767px) {
  #colleges {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-gap: 10px;
  }

  .college {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    margin-bottom: 2%;
    padding: 2%;
  }
}

@media (max-width: 767px) {
  .college {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    margin-bottom: 2%;
    padding: 2%;
  }

  input[type=text] {
    width: 90%;
    margin: 2% 0;
  }
}

.secondary-info {
  margin-top: auto;
}

img {
  width: 100%;
  height: 30%;
  object-fit: cover;
}

.academics {
  display: inline-block;
  margin: 1% 1% 1% 0;
}

.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  word-wrap: break-word;
  border-radius: 10%;
  background: #d5ebf5;
  margin: 1% 1% 1% 0;
  padding: 3%;
  -webkit-hyphens: auto;
}

a {
  margin-top: auto;
  text-decoration: none;
  color: #4db6e3;
}

a:visited {
  color: #4db6e3;
}

a:hover {
  color: #a4cee0;
}

/* Footer */
footer {
  text-align: right;
  margin-top: 5%;
}
